@use './functions' as *;
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-size: rem(16);
}

h1,
h2 {
  color: #2d314d;
}

p {
  font-size: rem(15);
  line-height: rem(25);
  font-weight: normal;
  letter-spacing: rem(-0.23);
  color: #9597a5;
}

img {
  display: block;
  width: 100%;
}
