@use '../../../styles/functions' as *;

.service {
  &__title {
    padding-block: rem(24) rem(16);
    font-size: rem(20);
    line-height: rem(28);
    letter-spacing: rem(-0.36);
    font-weight: 150;
  }

  &__icon {
    width: rem(72);
    height: rem(72);
    margin: 0 auto;
  }
}

@media (width >= rem(700)) {
  .service {
    &__title {
      font-size: rem(24);
      line-height: rem(28);
      letter-spacing: rem(-0.43);
    }
    &__description {
      font-size: rem(16);
      line-height: rem(26);
      letter-spacing: rem(-0.25);
      font-weight: 200;
    }

    &__icon {
      margin: 0;
    }
  }
}
