@use '../../styles/functions' as *;

.services {
  background-color: #f4f5f7;
  text-align: center;
  padding: rem(70) rem(40);

  &__title {
    font-size: rem(32);
    letter-spacing: rem(-0.57);
    font-weight: 200;
    width: 200px;
    text-align: center;
    margin: 0 auto;
  }

  &__description {
    padding-block: rem(14) rem(56);
    font-weight: 200;
  }

  &__list {
    display: grid;
    gap: rem(32);
  }
}

@media (width >= rem(700)) {
  .services {
    text-align: left;

    &__title {
      width: 100%;
      text-align: left;
      font-size: rem(40);
      line-height: rem(64);
      letter-spacing: rem(-0.71);
    }

    &__description {
      width: rem(450);
      font-size: rem(18);
      line-height: re(28);
      letter-spacing: rem(-0.28);
    }

    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (width >= rem(800)) {
  .services {
    padding: rem(114) rem(100);
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media (width >= rem(1024)) {
  .services {
    padding: rem(114) rem(165);

    &__list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
